.page-main {
  margin-top: 50px;
}

.page-main__contaiter {
  margin: 0 auto;
  width: 1050px;
}

@media (max-width: 1000px) {
  .page-main__contaiter {
    width: 768px;
  }
}

@media (max-width: 700px) {
  .page-main__contaiter {
    width: 320px;
  }

  .page-main {
    margin-top: 10px;
  }
}
