.service__list {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service__title {
  text-align: center;
  font-size: 21px;
  margin: 20px 1px 30px;
}

.service__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 200px;
  transition: all 0.4s ease-in-out;
  height: 300px;
  position: relative;
  background-color: #F8ECE3;
  margin: 20px 20px;
  border: 1px solid #60452F;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: scale(1);

  &:hover {
    transform: scale(1.05);

    .service__wrapper {
      opacity: 1;
      transition: .4s
    }

    .service__link {
      transform: scale(1.2);
    }
  }
}

.service {
  width: 1050px;
  margin: 0 auto;
}

.service__link {
  text-decoration: none;
  background-color: #CAAA8E;
  color: #fff;
  font-size: 24px;
  display: inline-block;
  border-radius: 10px;
  padding: 3px 5px;
  border-bottom: 3px solid #a58970;
  transform: scale(0.2);
  transition: all 0.4s ease-in-out;

  &:hover {
    color: #000;
  }

  &:active {
    background-color: #a58970;
    color: rgba(0, 0, 0, 0.4);
  }
}

.service__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(96, 69, 47, 0.5);
  border-radius: 10px;
}

.service__image {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .service {
    width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .service {
    width: 320px;
    margin: 0 auto;
  }
}
