.site-list__item--service {
  position: relative;
}

.site-list__item {
  padding: 10px 0;
  transition: 0.3s;
  position: relative;
  z-index: 35;

  &:hover  {
    transform: translate(0, -10px);
    background-color: #60452F;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 30px rgba(0,0,0,.2)
  }
}

.site-list--sub {
  position: absolute;
  list-style: none;
  left: 50%;
  top: 100%;
  width: 230px;
  padding: 15px 0 15px;
  margin-top: 10px;
  background-color: #60452F;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 30px);
  transition: .3s;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
}

.site-list--width {
  width: auto;
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: #fff;
  z-index: 40;
  font-size: 20px;
  transition: .2s;
  z-index: auto;
  position: relative;
  padding: 8px 15px;
  line-height: 1;
  letter-spacing: 3px;

  &--sub {
    transition: .2s;
    text-decoration: none;
    color: #fff;
    z-index: 10;
    display: block;
    padding: 8px 15px;
    line-height: 1;
    letter-spacing: 3px;

     &:focus {
      opacity: 0.2;
     }
  }

  &:focus {
    opacity: 0.2;

    .site-list--sub {
      visibility: visible;
      opacity: 1;
      z-index: 300;
      transform: translate(-50%, 0);
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 250;
    left: 50%;
    top: 121%;
    width: 13px;
    height: 13px;
    background: #60452F;
    border-radius: 50%;
    transform: translate(-50%, 35px);
    opacity: 0;
    transition: .3s;
  }
}

@media (max-width: 1000px) {
  .site-list__item {
    padding: 10px 0;
    transition: 0.3s;
    z-index: 35;

    &:hover  {
      transform: translate(0);
      background-color: #60452F;
      border-radius: 10px;
      box-shadow: 0 0 30px rgba(0,0,0,.2)
    }

     &--service::before,
     &--width::before {
        content: "";
        transition: .6s;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20px;
        transform: rotate(90deg);
        right: 20px;
        background: url("../img/arr.svg") no-repeat;
    }

    &--service:hover::before,
    &--width:hover::before {
      transform: rotate(270deg)
    }
  }

  .site-list__link {
    &:before {
      content: none;
    }
  }

  .site-list--width {
    width: 150px;
  }

  .site-list--sub {
    position: static;
    z-index: auto;
    opacity: 0;
    display: none;
    transform: translate(0, 0);
    width: 100%;
  }
}



