.social {
  display: flex;
  align-items: center;
}

.social__list {
  list-style: none;
  display: flex;
  padding: 0;
}

.social__number {
  text-decoration: none;
  color: #60452F;
  font-size: 24px;
  margin-left: 15px;

  &:hover {
    transition: .3s;
    transform: scale(1.1);
  }

  &:focus {
    transition: .3s;
    transform: scale(0.9);
  }
}

.social__link {
  &:hover {
    img {
      transition: .3s;
      transform: scale(1.2);
    }

  &:focus {
    img {
      transition: .3s;
      transform: scale(0.9);
      opacity: 0.4;
    }
  }
  }
}

@media (max-width: 700px) {

 .social {
  margin: 20px 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .user-list__item {
    margin: 5px 0;
  }

  .social__list {
    width: 100%;
    justify-content: space-around;
  }
}



