.user-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 350px;
}

.user-list__link {
  text-decoration: none;
  background-color: #CAAA8E;
  color: #fff;
  font-size: 24px;
  display: inline-block;
  border-radius: 10px;
  padding: 3px 5px;
  border-bottom: 3px solid #a58970;

  &--basket {
    padding-left: 40px;
    position: relative;
    fill: #60452F;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 7px;
      left: 10px;
      background: url("../img/icon-cart.svg") no-repeat;
    }
  }

  &:hover {
    transition: .4s;
    color: #000;
  }

  &:focus {
    background-color: #a58970;
    color: #000;
    transition: 0s;
  }
}

@media (max-width: 550px) {

 .user-list {
    flex-direction: column;
    align-items: center;
  }

  .user-list__item {
    margin: 5px 0;
  }
}
